*
{
	margin: 0px;
	padding: 0px;
}

body
{
	-webkit-box-pack: center;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	text-align: center;
}

#background 
{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: hidden;
}

#background::before 
{
	width: 100%;
	height: 200%;
	top: 0;
	left: 0;
	content: "";
	position: absolute;
	background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 100%);
	transition: transform 5s;
	z-index: -1;
}

#background:hover::before 
{
	transform: translateY(-50%);
}

#header
{
	margin-top: 50px;
}

#links
{
	list-style-type: none;
}

#links li
{
	font: 32px 'Roboto', sans-serif;
	display: inline-block;
	margin-top: 50px;
	padding: 20px;
	max-width: 500px;
	min-width: 200px;
	text-align: center;	
	color: #000000;
	transition: color 2s, background-color 3s;
}

#links li:hover
{
	color: #FFFFFF;
	background-color: rgba(19, 20, 29, .1);
}