*
{
	margin: 0px;
	padding: 0px;
}

body
{
	-webkit-box-pack: center;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	text-align: center;
}

@keyframes background-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#background 
{
	min-height: 100%;
	height: auto;
	width: 100%;
	position: absolute;
	background: -webkit-linear-gradient(-45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 100%);
	background-size: 400% 400%;
	-webkit-animation: background-animation 30s ease infinite;
}

#header
{
	margin-top: 50px;
}

#header img
{
	width: 356px;
	height: 92px;
	transition: width 2s, height 2s;
}

#header img:hover
{
	width: 400px;
	height: 103px;
}

#links
{
	list-style-type: none;
}

#links a
{
	text-decoration: none;
}

#links li
{
	margin-left: auto;
    margin-right: auto;
	display: block;
	font: 32px 'Roboto', sans-serif;
	margin-top: 50px;
	padding: 20px;
	max-width: 500px;
	min-width: 200px;
	text-align: center;	
	color: #000000;
	transition: color 2s, background-color 3s;
}

#links li:hover
{
	color: #FFFFFF;
	background-color: rgba(19, 20, 29, .1);
}